
<table border=1>
    <tr>   
        <th> Title </th>
        <th> Social Rank </th>
        <th> Image </th>
    </tr>
        <% @recipes.each do |recipe| %>

        <tr>
            <td> <%= recipe["title"] %> </td>
            <td> <%= recipe["social_rank"] %> </td>
            <td> <%= image_tag(recipe["image_url"]) %> </td>
    
        </tr>
        <%end%>
    
</table>


